<h2 align="center">Some Info</h2>
<p align="center">I am 23-years-old from Pittsburgh, PA in my senior year at Point Park University.</br>
I am majoring in Information Technology and plan to use the skills learned in the major</br>
to make my own and help make video games after I graduate. I also know the Japanese language</br>
quite well, which will help me on my dream to work at Nintendo of Japan.</p>

