<!DOCTYPE html>
<html lang="en">
<head>
  <title>Lee's Info</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
  body {
    background-color: #3981B0;
    font-family: Times;
  }
  .top {
    padding: 40px;
    text-align: center;
    background: #3981B0;
  }
  .rotate90 {
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg);
  }
  .topnav {
    overflow: hidden;
    background-color: black;
  }
  .topnav a {
    float: left;
    color: white;
    text-align: cetner;
    padding: 14px 16px;
    text-decoration: none;
    text-size: 17px;
  }
  .topnav a:hover {
    background-color: black;
    color: white'
  }
  .topnav a.active {
    background-color: white;
    color: black;
  }
  </style>
</head>
<body>
  <div class="top">
    <img src="/public/img/Lee.jpg" alt="Lee" style=width:100px;height:80px;float:right class="rotate90">
    <h1>Willee Jordan</h1>
  </div>
  <div align="center" class="topnav">
    <a href="/"><button>Home</button></a>
    <a href="/about"><button>About</button></a>
    <a href="/contact"><button>Contact</button></a>
  </div>
  <div id="main">
    <p align="center">Welcome to my own personal site. Here you will find various info about me.</p>
  </div>
  {{{body}}}
</body>
</html>
